html
{ height: 100%;}


#container{
	
	
	height:auto;
	margin:50px auto;

	padding-bottom: 100px;
	
	
	clear: both;
	
	width: 1010px;
	background: #fff;
	-moz-border-radius: 10px;
  -khtml-border-radius: 10px;
  -webkit-border-radius: 10px;
	-moz-box-shadow: 0px 0px 10px rgba(0,0,0,0.3);
  -khtml-box-shadow: 0px 0px 10px rgba(0,0,0,0.3);
  -webkit-box-shadow: 0px 0px 10px rgba(0,0,0,0.3);	
	position: relative; 
	z-index: 90; /* the stack order: displayed under ribbon rectangle (100) */
	
	}

#header{
	padding-top: 50px;
	margin: 50px auto 0px auto;
	height:170px;
	width: 500px;
	float: center;
}

#links{
	margin: 50px auto 0px auto;
	height:50px;
	width: 1010px;
}

#contain{
	margin-top: 100px;
	height: 500px;
	width: 1010px;
	font-family: Georgia, Verdana, “Lucida Sans Unicode”, sans-serif;
	color: #999;
}


#footer{
	margin:0px auto;
	height:50px;
	width: 1010px;
	font-family: Georgia, Verdana, “Lucida Sans Unicode”, sans-serif;
}

/* navigation */
/*body {font-family:Helvetica,Arial,sans-serif;font-size:12px;}*/

#nav {background-color:#000; overflow: hidden;padding-left: 260px;}
#nav li {float:left;position:relative;}
#nav a {display:block;background:transparent;color:#fff;font-weight:bold;text-decoration:none;padding:20px;position:relative;padding-right: 40px;}

#nav li:hover span {
    position:absolute;
    left:50%;top:50%;
    margin-left:-35%;
    width:60%;height:0px;
    box-shadow:0 0 10px 6px rgba(150, 180, 200, .6);
    border-radius:10px 6px;
}

#data{
	width: 600px;
	margin:50px auto;
	font: lucida;
	font-size: 20;
}


#personalData{
	width: 690px;
	height: auto;
	margin:50px auto;
}

#data1{
	width: 700px;
	margin:-40px auto;

	font-size: 20;
	font-family: 'Lucida Grande', 'Helvetica Neue', Helvetica, Arial, sans-serif;

  font-size: 13px;
  text-align: center;
}

#data tr td font{
	color: red;
	font: lucida;
	font-size: 10;
}

#data tr td{
	color: black;
	font: lucida;
}
#data tr th{
	color: black;
	text-decoration: underline;
	font: lucida;
	text-align: left;
}

#pemisah{
	width: 1010px;
	margin:50px auto;
	height: 10px;
	background-color: orange;
}

#butang {
  font-family: 'Lucida Grande', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  padding: 20px 50px 150px;
  font-size: 13px;
  text-align: center;
  background: #E3CAA1;
}

ul{
margin:0;
padding:0;
}

li{
display:inline;
list-type:none;
}

a.glidebutton{
display: inline-block;
position: relative;
color: #4A4A4A; /* default color */
background: #ececec; /* default bg color */
text-decoration: none;
font: bold 14px Arial; /* font settings */
letter-spacing: 2px; /* font settings */
overflow: hidden;
height: 30px; /* height of each button */
text-align: center;
border-radius: 5px; /* border radius */
-moz-transition: all 0.3s ease-in-out; /* Enable CSS transition between property changes */
-webkit-transition: all 0.3s ease-in-out;
-o-transition: all 0.3s ease-in-out;
-ms-transition: all 0.3s ease-in-out;
transition: all 0.3s ease-in-out;
}

a.glidebutton > span:first-child{ /* first span inside button */
position: relative;
display: block;
height: 100%;
padding: 6px; /* padding of button */
-moz-box-sizing: border-box;
box-sizing: border-box;
-moz-transition: all 0.3s ease-in-out; /* Enable CSS transition between property changes */
-webkit-transition: all 0.3s ease-in-out;
-o-transition: all 0.3s ease-in-out;
-ms-transition: all 0.3s ease-in-out;
transition: all 0.3s ease-in-out;
}

a.glidebutton > span:first-child:after{ /* CSS generated content */
content: attr(data-text); /* Duplicate text of span markup */
display: block;
width: 100%;
height: 100%;
-moz-box-sizing: border-box;
box-sizing: border-box;
padding: inherit;
position: absolute;
top:100%;
left:0;
}

a.glidebutton:hover{
color: black; /* color of button on hover */
background: #72cb47; /* bg color of button on hover */
box-shadow: 0 0 4px green inset;
}

a.glidebutton:hover > span:first-child{
-moz-transform: translateY(-100%);
-webkit-transform: translateY(-100%);
-ms-transform: translateY(-100%);
-o-transform: translateY(-100%);
transform: translateY(-100%);
}